@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap');

html {
    background-color: rgb(238,238,238);
}

body {
    background-color: white;
    border-radius: 1%;
    margin: 4% 10% 4% 10%;
    padding: 2em;
    box-shadow: 0 0 5px #ddd;
    font-family:  Source Sans Pro;
}

.date {
    font-size: 1.4em;
    font-weight: 1;
}

h1 {
    font-size: 4em;
    font-family: Abril Fatface;
    text-align: center;
}

/* navbar styling */
nav {
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
}
nav ul {
    list-style-type: none;
    text-align: center;
}
nav li {
    display: inline-block;
    padding-left: .9em;
    padding-right: .9em;
}
nav a {
    text-decoration: none;
    color: #777;
    font-size: 1.4em;
    font-weight: 1;
}

h2 {
    font-size: 2.5em;
    font-family: Roboto Slab;
    display: block;
}

h5 {
    color: #dd3232;
    font-size: 1.5em;
    font-family: Abril Fatface;
    display: block;
}

h4 {
    font-family: Roboto Slab;
    font-size: 1.5em;
}

main img {
    width: 100%;
}

.more-articles {
    border-top: 1px solid lightgrey;
    display: flex;
}

section {
    width: 50%;
    padding: 1.4em;
}

section img {
    width: 100%;
}

p{
    font-size: 1.3em;
    font-weight: 1;
    padding-left: 1em;
    padding-right: 1em;
}

